<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="File" target="LOGFILE">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="resources" level="error" additivity="false">
			<AppenderRef ref="file" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration> 